@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi I'm <span>Stanislav Korchevskyi</span></h1>
            <div class="text-animate">
                <h3>Full Stack Developer</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, consectetur? Accusantium inventore aspernatur provident sequi eveniet magni facilis in est! Exercitationem accusamus, ut iure mollitia ipsa ullam.</p>
            <div class="btn-box">
                <a href="#" class="btn">Hire Me</a>
                <a href="#" class="btn">Let's Talk</a>
            </div>
        </div>

        <div class="home-sci">
            <a href="#" class="btn"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="btn"><i class='bx bxl-telegram'></i></a>
            <a href="#" class="btn"><i class='bx bxl-linkedin'></i></a>
        </div>

        <div class="home-imgHover"></div>
    </section>
    <section class="about" id="about">
        <h2 class="heading">About <span>Me</span></h2>
        <div class="about-img">
            <img src="~/Resources/about.jpg"/>
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>Full Stack Developer!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi aut numquam impedit similique ipsam at aliquam! Voluptates, necessitatibus aliquid provident doloremque repudiandae nulla. Laborum, iusto aperiam inventore alias mollitia quod laboriosam enim. Architecto tempora aut quibusdam, fugit commodi omnis atque deserunt quod earum reiciendis laboriosam molestiae nihil dolorum sed incidunt?</p>
            <div class="btn-box btns">
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <section class="education" id="education">
        <h3 class="heading">My <span>Juorny</span></h3>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">
                <h3 class="title">Experiance</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar' style='color:#ffffff'></i> 2017 - 2018</div>
                            <h3>Master degree - Universety</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel asperiores earum iste! Consectetur quia maiores ab distinctio. Molestias eum totam quibusdam corrupti assumenda? Obcaecati quisquam tempore ut. Odio, architecto?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="skills" id="skills">
        <h3 class="heading">My <span>Skills</span></h3>

        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Backend Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress-block">
                            <h3>C# <span>100%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>.NET Framework <span>100%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>System Programming <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Network Programming <span>100%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>ASP.NET Core <span>100%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>ASP.NET MVC <span>75%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>SQL<span>40%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Entity Framework<span>75%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>

                        <div class="progress-block">
                            <h3>Azure <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-column">
                <h3 class="title">Frontend Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress-block">
                            <h3>HTML & CSS <span>60%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>JavaScript <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>TypeScript <span>75%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Angular 2+ <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Rx.js <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Ngxs <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Primeng <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Bootstrap <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <h3>Chart.js <span>50%</span></h3>
                            <div class="bar">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>